.priority-btn {
    background-color: rgb(255, 212, 59);
    border-radius: 20px;
    font-size: 16px;
    padding: 6px 16px;
    display: block;
    margin: 0 auto;
}

.error {
    text-align: center;
    font-size: 18px;
    color: #a30008;
    font-weight: bold;
    margin-top: 14px;
}