.distance-container {
  height: 270px;
  background-color: #f0f1f3;
  opacity: 0.8;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0.25em 0 #c3c6d1;
  padding: 4px 20px;
}

.distance-title {
  font-size: 28px;
  margin: 10px 0;
}

.distance-subtitle {
  font-size: 13px;
  margin: 12px 0;
}

.distance-body {
  display: flex;
  flex-flow: column;
  grid-template-rows: 50% 50%;
}

.distance-first-lcoation, .distance-location-result {
  margin: 10px 0;
  color: #a30008;
}

.btn-get-location {
  border-radius: 10px;
  width: 140px;
  height: 26px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.btn-get-location:hover {
  background-color: #20c997;
  opacity: 0.8;
}

.distance-loading-icon {
  display: block;
  margin: 0 auto;
}

.distance-select {
  width: 200px;
  height: 24px;
}

.distance-btn-submit {
  display: block;
  border-radius: 20px;
  width: 140px;
  height: 24px;
  margin: 10px auto;
  transition: all 0.3s ease;
}

.distance-btn-submit:hover {
  background-color: #20c997;
  opacity: 0.8;
}

.country-list-container {
  list-style: none;
}

.icon_hidden {
  display: block;
  margin: 0 auto;
  visibility: hidden;
}

.icon_show {
  display: block;
  margin: 0 auto;
}

.form_hidden {
  display: block;
  visibility: hidden;
}

.form_show {
  display: block;
}