* {
  padding: 0;
  margin: 0;
}

body {
  margin: 30px 20px;
  font-family: "Roboto", sans-serif;
  background-image: url("./beach.jpeg");
  background-size: cover;
}

.main-upper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.main-middle {
  margin: 50px 0 20px;
}
