* {
    padding: 0;
    margin: 0;
}

body {
    margin: 30px 20px;
    font-family: 'Hina Mincho', serif;
    background-color: #f0f1f3;
}

.main-upper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.app-list-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    place-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.matched-count {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}
