.header {
    margin-top: 54px;
    margin-bottom: 54px;
    display: flex;
    justify-content: center;
}

.header-title {
    text-align: center;
    font-size: 40px;
}

.fa-heart {
    color: red;
    margin-left: 4px;
}
